.navigation {
	margin-bottom: 4px;
}
.content {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.backBtn {
	display:flex;
	align-items: center;
	gap: 6px;
	font-weight: 700;
	text-transform: uppercase;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--color-main);
}

/* Tablet styles */
@media screen and (min-width: 768px) {
	.navigation {
	  margin-bottom: 14px;
	}
	.content {
	  gap: 40px;
	}
	.subtitle {
		max-width: 540px;
	}
}

/* Desktop styles */
@media screen and (min-width: 1440px) {
	.backBtn {
	  font-size: 12px;
	  gap: 6px;
	}
	.content {
		flex-direction: row;
	}
}
