.header {
  padding: 12px 0;
}

.header > div {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  height: 46px;
  font-size: 12px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  color: var(--color-main);
  font-family: "Mulish Bold", Arial, sans-serif;
  font-size: 24px;
  margin-right: auto;
  width: 30%;
}

.brand a {
  text-decoration: none;
}

.dark .brand {
  color: var(--color-white);
}

@media only screen and (min-width: 768px) {
  .nav {
    flex-grow: 1;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 24px 0;
  }
  .brand {
    width: 50%;
  }
}
