.wrapper {
  display: flex;
  align-self: center;
}

.list {
  display: flex;
  gap: 6px;
  margin: 32px auto 0 auto;
}

.listItem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  transition: border-color var(--trns-fast);
}

.listItem:hover,
.listItem.active {
  border-color: 1px solid var(--color-main);
}

/* tablet */
@media only screen and (min-width: 768px) {
  .wrapper {
    margin-top: 60px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {}
