.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
}

.field label {
  margin-bottom: 8px;
  font-family: "Mulish Bold", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px;
}

.field input,
.field textarea {
  width: 100%;
  height: 56px;
  border: none;
  border-bottom: 1px solid var(--color-secondary);
  padding: 16px 18px 16px 0;
  outline: none;
}

.field textarea {
  line-height: inherit;
}

.field.strong input,
.field.strong input:hover,
.field.strong input:focus{
  border-color: transparent;
}

.field.strong input {
  text-transform: uppercase;
  font-family: "Mulish Bold", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.field.strong input:hover,
.field.strong input:focus{
  border-color: transparent;
}

.field textarea {
  overflow: hidden;
  resize: none;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.select {
  box-sizing: border-box;
  width: 100%;
}

.select .select__control {
  border-radius: 30px;
  height: 56px;
}

.select .select__menu {
  border-radius: 30px;
  background-color: #1A1A1A;
}

.inputWrapper.withCount {
  position: relative;
  align-items: flex-start;
}

.inputWrapper.withCount input, .inputWrapper.withCount textarea {
  padding-right: 80px;
}

.inputCountWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  font-size: 24px;
}

.step {
  font-size: 16px;
  color: var(--color-secondary);
}

.count {
  color: var(--color-secondary);
  position: absolute;
  right: 0;
  top: 16px;
}

.currentCount {
  color: var(--color-main);
}

.field input:focus,
.field input:hover,
.field textarea:focus,
.field textarea:hover{
  border-bottom: 1px solid var(--color-main);
}

.field input::placeholder, .field textarea::placeholder {
  color: var(--color-placeholder);
}
.errorMessage {
  color: var(--color-error);
  margin-top: 4px;
}

.error label {
  display: block;
  color: var(--color-error);
}

.field.error input, .field.error textarea {
  border-color:  var(--color-error);
}

/* tablet */
@media only screen and (min-width: 768px) {
  .field label {
    margin-bottom: 16px;
    font-size: 20px;
  }
  .field.strong input {
    font-size: 24px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {

}
