.wrapper {
  display: flex;
  gap: 32px;
  padding: 80px 24px;
  flex-direction: column;
  width: 100%;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {}
