.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
}

.showAll {}

/* tablet */
@media only screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 20px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {}
