.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
}
.btnLoadAll {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  width: 343px;
  height: 250px;
  border-radius: 30px;
  color: var(--color-white);
  background: var(--color-main);
}

/* tablet */
@media only screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 20px;
  }
  .btnLoadAll {
    font-size: 20px;
    line-height: 1.2;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .showAll {
    flex-basis: calc((100% - 20px) / 2);
    min-width: 334.5px;
    max-width: 342px;
    height: 369px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .showAll {
    flex: 0 0 325px;
    max-width: 325px;
    min-width: 325px;
    height: 369px;
  }
}
