.wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}

.userInfoTabsWrapper {
  display: flex;
  flex-direction: column;
}

.userInfoWrapper {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    gap: 32px;
  }
}


