.wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.content {
  width: 100%;
}

.userInfoTabsWrapper {
  display: flex;
  flex-direction: column;
}

.userInfoWrapper {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1439px) {
  .sidebar {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    gap: 80px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .sidebar {
    width: 394px;
  }

  .wrapper {
    flex-direction: row;
    gap: 40px;
  }
}

