.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.nav {
  gap: 12px;
  text-transform: uppercase;
  display: none;
}

.link {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  padding: 14px;
  white-space: nowrap;
}

.link.active {
  border-radius: 30px;
  border: 1px solid var(--color-main);

}

.placeholder {
  background-color: var(--color-main);
  color: var(--color-white);
  border-radius: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4px;
}

.dark .link {
  color: var(--color-white);
}

.dark .link.active{
  border-color: var(--color-secondary);
}

.dark .placeholder {
  background-color: var(--color-white);
  color: var(--color-main);
}

/* tablet */
@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
  .placeholder {
    margin-left: auto;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .wrapper {
    gap: 32px;
  }
  .nav {
    gap: 32px;
  }
}
