.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.nav {
  gap: 12px;
  text-transform: uppercase;
  display: none;
}

.link {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  padding: 14px;
  white-space: nowrap;
}

.link.active {
  border-radius: 30px;
  border: 1px solid var(--color-main);

}

.placeholder {
  background-color: var(--color-main);
  color: var(--color-white);
  border-radius: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4px;
}

.placeholder button {
  min-width: 104px;
  padding: 14px 28px;
  height: 46px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-main);
}

.placeholder button {
  min-width: 104px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-main);
}

.placeholder:hover button,
.placeholder:hover button:nth-child(2) {
  border-color: var(--color-white);
  background-color: var(--color-white);
  color: var(--color-main);
}

.placeholder button:nth-child(2),
.placeholder button:nth-child(2):hover,
.placeholder button:hover,
.placeholder button:focus-visible {
  background-color: var(--color-main);
  color: var(--color-white);
  border-color: var(--color-secondary);
}

.dark .link {
  color: var(--color-white);
}

.dark .link.active{
  border-color: var(--color-secondary);
}

.dark .placeholder {
  background-color: var(--color-white);
  color: var(--color-main);
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: var(--color-main);
  text-align: center;
  transform: translateX(100%);
  z-index: 71;
}

.menuButton {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  color:  var(--color-white);
  font-size: 28px;
  display: block;
}

.mobileMenuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
  background: var(--overlay);
  height: 100%;
  width: 100%;
  z-index: 70;
  opacity: 0;
}

.mobileMenuContainer.isOpen .mobileMenuOverlay {
  overflow: auto;
  pointer-events: auto;
  opacity: 1;
  transition: all 0.25s linear;
}

.mobileMenuContainer.isOpen .mobileMenu {
  transform: translateX(0);
  transition: transform 0.25s linear;
}

.mobileMenu .close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .menuButton {
    display: none;
  }
  .nav {
    display: flex;
  }
  .placeholder {
    margin-left: auto;
  }

  .mobileMenu {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    transform: none;
    background: none;
  }
  .mobileMenuOverlay {
    display: none;
  }

  .mobileMenu .close {
    display: none;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .wrapper {
    gap: 32px;
  }
  .nav {
    gap: 32px;
  }
}
