.text {
  margin-bottom: 32px;
  color: var(--color-secondary);
}

/* tablet */
@media only screen and (min-width: 768px) {
  .text {
    margin-bottom: 40px;
    max-width: 440px;
    color: var(--color-text);
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {}
