.title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-main);
  margin-bottom: 12px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.tag{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--color-placeholder);
  border: 1px solid var(--color-placeholder);
  border-radius: 30px;
  padding: 10px 18px;
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--color-placeholder);
  margin-bottom: 24px;
}

.authorInfo {
  margin-top: 24px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
}

.author:hover {
  text-decoration: underline;
}

.author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.authorText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.authorLabel {
  font-size: 12px;
  color: var(--color-placeholder);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.24px;
}

.author p {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--color-placeholder);
}

@media (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 32px;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text);
  }

  .author img {
    width: 40px;
    height: 40px;
  }

  .authorLabel {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }

  .author p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 24px;
    line-height: 28px;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text);
  }

  .author {
    padding: 16px 24px;
    gap: 16px;
  }

  .author img {
    width: 50px;
    height: 50px;
  }

  .authorLabel {
    font-size: 14px;
    line-height: 1.42857;
    letter-spacing: -0.28px;
  }

  .author p {
    font-size: 18px;
    line-height: 28px;
  }
}
