.wrapper {
  height: 100%;
}
.header {
  margin: 8px 8px 0 8px;
  background-color: var(--color-main);
  border-radius: 30px;
}
.main {
  padding-top: 64px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .header {
    margin: 16px 16px 0 16px;
  }
  .main {
    padding-top: 100px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .header {
    margin: 20px 20px 0 20px;
  }
  .main {
    padding-top: 120px;
  }
}
