.list {
  max-width: 140px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 7px;
  background-color: var(--trns-fast);
  border: 1px solid var(--color-secondary);
  border-radius: 100px;
  transition: background-color 0.3s ease;
}

.link:hover  {
  border-color: var(--color-main);
  background-color: var(--color-main);
}

.icon {
  width: 20px;
  height: 20px;
  color:var(--color-main);
  fill: var(--color-main);
  transition: all var(--trns-fast);
}

@media (min-width: 768px) {
  .list {
    gap: 16px;
  }
  .link {
    padding: 9px;
  }
}
@media (min-width: 1440px) {
  .list {
    gap: 9px;
  }
}